{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input type="text" autofocus class="form-control mx-auto w-auto" autocomplete="off" name="symbol" placeholder="Symbol">
        </div>
        <div class="mb-3">
            <input type="number" class="form-control mx-auto w-auto" autocomplete="off" name="shares" placeholder="Shares">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Buy</button>
        </div>
    </form>
{% endblock %}
